@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
     <table class="table table-sm table-striped">
        <thead class="thead">
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Razon Social</th>
                <th><i class="fa-solid fa-list"></i></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jhojan Pareja Ynga</td>
                <td><a href="#"><i class="fa-solid fa-user"> </i></a></td>
            </tr>
        </tbody>
     </table>

</div>
